canvas {
    background-color: antiquewhite;
  }
  .maze {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    margin-bottom: 20px;
    height: 55px;
  }
  button {
    background-color: #4d4c4c;
    border: none;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    width: 30%;
    margin-left: 5px;
    height: inherit;
  }
  button:first-child {
    margin-left: 0px;
  }